<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UAen-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/resume.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
      $(document).ready(function() {
        $('#skills').click().removeClass('.hidden')
      });
      
    </script>

    <title>Resume</title>
  </head>
  <body>
  <div class='container'>
    <section id='welcome-section'>
        <nav id="navbar">
          <li id="about"><a href="#main_about" "insert" class="nav-link">About</a></li>
          <li id="skills"><a href="#main_skills" rel="insert" class="nav-link">Skills</a></li>
          <li id="education"><a href="#" rel="insert" class="nav-link">Education</a></li>
          <li id="projects-link"><a href="#" rel="insert" class="nav-link">Projects</a></li>
        </nav>
        
        <img src="/myResume/templates/static/images/me.jpeg" alt="my face">
    <h1>
      bearcan
    </h1>
    <p>You can see my profile on Github -> <a id='profile-link' href='https://github.com/mikhaildorox' target='_blank'>tap the link</a></p>
    <p>You can download my resume, just click</p><button>here</button>  
  </section>
  </div>
    <div class="container">
      <section class="main_section">
        <div class="main_info" >
          <div class="main yes-wrap" id="main_about">
            <h3>Несколько слов обо мне.</h3>
              <p>Программирую на Python.<br/>
                Самосовершенствуюсь на freeCodeCamp и CodeWars<br/>
              Работаю школьным учителем.
              Преподаю математику и информатику в средних и старших классах.<br/>
              Подготавливаю к ОГЭ и ЕГЭ. Также веду индивидуальные занятия.</p>
          </div>
          <div class="main hidden" id="main_skills">
            <ul> 
              <li>Python</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JS</li>
              <li>jQuery</li>
              <li>React</li>
              <li>Bootstrap</li>
              <li>Git</li>
              <li>PostgreSQL</li>
              <li>Linux</li>
              <li>Список пополняется..</li>
            </ul>
          </div>
          <div class="main hidden" id="main_education">
            <p>Bachelar DC</p>  
          </div>
            <div id="projects_div"  class="main hidden">
              здесь можно будет посмотреть портфолио.
              <div class='project-tile'>
                <a>ссылка на проект</a>
              </div>
            </div> 
        </div>
      </section>
    </div>
  </body>
  </html>